---
layout: page
---

{{ content }}

<style>
  /* Custom CSS for three-column layout */
  .container-full {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .three-column-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust the margin as needed */
  }

  .column {
    flex: 0 0 30%; /* Adjust the width of each column as needed */
    box-sizing: border-box;
    padding: 0 15px;
    text-align: center;
  }

  .column img {
    width: 100%; /* Adjust the width of the image as needed */
    height: auto; /* Maintain the aspect ratio */
    /* Remove the border-radius property to make the image square */
    margin-bottom: 10px; /* Add margin as needed */
  }

  .column a {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  /* Additional styling can be added based on your preferences */
</style>

<!-- Full-width image -->
<div class="container-full">
  <img src="assets/home-page-feature.jpg" alt="Full-width Image">
</div>

<!-- Three-column section -->
<div class="three-column-section">
  <div class="column">
    <a href="_layouts/home2.html">
      <img src="assets/home-page-feature.jpg" alt="Image 1">
      <i class="fas fa-icon1"></i>
      <h3>Blog</h3>
      <p>Short description for the first column.</p>
    </a>
  </div>
  <div class="column">
    <a href="link-to-page-2">
      <img src="assets/home-page-feature.jpg" alt="Image 2">
      <i class="fas fa-icon2"></i>
      <h3>Today I Learned</h3>
      <p>Short description for the second column.</p>
    </a>
  </div>
  <div class="column">
    <a href="aboutme.md">
      <img src="assets/home-page-feature.jpg" alt="Image 3">
      <i class="fas fa-icon3"></i>
      <h3>About</h3>
      <p>Short description for the third column.</p>
    </a>
  </div>
</div>

{% if paginator.total_pages > 1 %}
  <ul class="pagination main-pager">
    {% if paginator.previous_page %}
      <li class="page-item previous">
        <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
          <i class="fas fa-arrow-left" alt="Newer Posts"></i>
          <span class="d-none d-sm-inline-block">Newer Posts</span>
        </a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li class="page-item next">
        <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
          <span class="d-none d-sm-inline-block">Older Posts</span>
          <i class="fas fa-arrow-right" alt="Older Posts"></i>
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}
